# Xcode
build/
*.xcuserdata
*.xcworkspace
*.xcuserdatad
.DS_Store
.swiftpm/xcode/
DerivedData/

# Swift Package Manager
.build/
.swiftpm/

# App
SuckFy.app
*.zip

# Temporary
tmp_*
Info.plist

# Icon files
*.icns
